//LAYOUT
$max-width: 1400px;

$desktop-break: 1000px;

//COLORS

$blue: #ECF3EC;
$gold: #C1AC66;
$dark-gold: rgb(137, 118, 56);

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
