.footer
  width: 100%
  margin-top: 30px
  padding-bottom: 100px
  background: $blue

.footer-thumbs
  display: flex
  flex-direction: row
  flex-wrap: wrap

  a
    width: 50%
    cursor: pointer
    height: 0
    padding-bottom: 37%
    overflow: hidden

    @media (min-width: $desktop-break)
      width: 25%
      padding-bottom: 18%

    img
      width: 100%
      opacity: .7
